In [1]:
import pandas as pd
import numpy as np

for m in [pd, np]:
    print(m.__name__, m.__version__)

pandas 2.1.1
numpy 1.26.0

In [2]:
from funcs.backtest_funcs import *

In [5]:
# http://localhost:8080/livetrade/order?trading_day=20231013&settlement_id=2&live=0&list_page=1
df_order = read_order_from_sql(24)
df_order[ORDER_COLUMNS].head()

,insert_time,price,volume,direction,offset,order_type,order_source,order_status
ts,,,,,,,,
2023-10-25 13:31:00,13:31:00,1628.0,1,LONG,OPEN,NORMAL,SIGBUY,TRADED
2023-10-25 13:31:00,13:31:00,0.0,1,LONG,CLOSE,OPERATE,8594570698-0,CANCEL
2023-10-25 13:31:00,13:31:00,1618.0,1,LONG,CLOSE,STOP_LOSS,8594570698-0,TRADED
2023-10-25 13:31:00,13:31:00,1635.0,1,LONG,CLOSE,TAKE_PROFIT,8594570698-0,CANCEL
2023-10-25 13:32:00,13:32:00,1628.0,1,LONG,OPEN,NORMAL,SIGBUY,TRADED

In [30]:
df_order.iloc[-1].name

Timestamp('2023-10-25 22:27:00')

In [21]:

for order_row in df_order.itertuples(name='order'):
    # print(isinstance(order_row, tuple))
    # print(type(order_row))
    print(order_row.id)

633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648