In [1]:
import numpy as np
import pandas as pd

import sqlalchemy

import matplotlib as mpl
import matplotlib.pyplot as plt
import mplfinance as mpf
import warnings

warnings.filterwarnings("ignore")

for m in [np, pd, sqlalchemy, mpl, mpf]:
    print(m.__name__, m.__version__)

numpy 1.25.2
pandas 2.1.0
sqlalchemy 2.0.19
matplotlib 3.7.1
mplfinance 0.12.10b0

In [2]:
from comm.backtest_funcs import read_backtest_from_sql, read_bar_from_sql
from comm.backtest_funcs import read_order_from_sql, read_orders_from_sql
from comm.backtest_funcs import read_trade_from_sql, read_trades_from_sql
from comm.backtest_funcs import merge_bar_trade_df, join_bar_trade_df, display_bar_candle

from comm.backtest_funcs import BAR_COLUMNS, ORDER_COLUMNS, TRADE_COLUMNS, BAR_TRADE_COLUMNS

In [3]:
backtest_id = 15
bar_df = read_bar_from_sql(backtest_id, 'FG2401', 'MIN', 1)
bar_df.shape
bar_df.query('date == "20230825" & time == "11:12:00"')[BAR_COLUMNS]

Empty DataFrame
Columns: [open, high, low, close, volume]
Index: []

In [4]:
df_trade = read_trade_from_sql(backtest_id)
print(df_trade.shape)
df_trade[TRADE_COLUMNS].head(20)

(32, 23)

,price,volume,direction,offset,trade_type,trade_source,cost,profit,commission,order_ref
ts,,,,,,,,,,
2023-09-12 09:45:00,1745.0,1,LONG,OPEN,NORMAL,6099797851-0,1745.0,0.0,9.0,6099797851
2023-09-12 09:46:00,1741.0,1,LONG,CLOSE,STOP_LOSS,6099797851-0,0.0,-80.0,9.0,6099797866
2023-09-12 09:48:00,1738.0,1,LONG,OPEN,NORMAL,6099798255-0,1738.0,0.0,9.0,6099798255
2023-09-12 10:01:00,1740.0,1,LONG,CLOSE,STOP_LOSS,6099798255-0,0.0,40.0,9.0,6099798271
2023-09-12 14:27:00,1756.0,1,LONG,OPEN,NORMAL,6099803740-0,1756.0,0.0,9.0,6099803740
2023-09-12 14:28:00,1752.0,1,LONG,CLOSE,STOP_LOSS,6099803740-0,0.0,-80.0,9.0,6099803756
2023-09-12 14:29:00,1750.0,1,LONG,OPEN,NORMAL,6099802356-0,1750.0,0.0,9.0,6099802356
2023-09-12 14:30:00,1748.0,1,LONG,OPEN,NORMAL,6099804073-0,1748.0,0.0,9.0,6099804073
2023-09-12 14:31:00,1753.0,1,LONG,OPEN,NORMAL,6099804210-0,1753.0,0.0,9.0,6099804210
2023-09-12 21:00:00,1770.0,1,LONG,CLOSE,STOP_LOSS,6099804210-0,0.0,340.0,9.0,6099804225
2023-09-12 21:00:00,1770.0,1,LONG,CLOSE,STOP_LOSS,6099802356-0,0.0,400.0,9.0,6099802373
2023-09-12 21:00:00,1770.0,1,LONG,CLOSE,STOP_LOSS,6099804073-0,0.0,440.0,9.0,6099804086
2023-09-12 21:25:00,1750.0,1,LONG,OPEN,NORMAL,6099807630-0,1750.0,0.0,9.0,6099807630
2023-09-12 21:25:00,1746.0,1,LONG,CLOSE,STOP_LOSS,6099807630-0,0.0,-80.0,9.0,6099807647
2023-09-12 21:57:00,1738.0,1,LONG,OPEN,NORMAL,6099809640-0,1738.0,0.0,9.0,6099809640
2023-09-12 21:58:00,1740.0,1,LONG,OPEN,NORMAL,6099809737-0,1740.0,0.0,9.0,6099809737
2023-09-12 22:01:00,1738.0,1,LONG,CLOSE,STOP_LOSS,6099809737-0,0.0,-40.0,9.0,6099809752
2023-09-12 22:01:00,1738.0,1,LONG,CLOSE,STOP_LOSS,6099809640-0,0.0,0.0,9.0,6099809656
2023-09-12 22:23:00,1730.0,1,LONG,OPEN,NORMAL,6099811558-0,1730.0,0.0,9.0,6099811558
2023-09-12 22:24:00,1728.0,1,LONG,OPEN,NORMAL,6099811651-0,1728.0,0.0,9.0,6099811651

In [7]:
df_trade.query("offset == 'CLOSE'").sort_values(by='trade_id')[TRADE_COLUMNS].head(20)

,price,volume,direction,offset,trade_type,trade_source,cost,profit,commission,order_ref
ts,,,,,,,,,,
2023-09-12 09:46:00,1741.0,1,LONG,CLOSE,STOP_LOSS,6099797851-0,0.0,-80.0,9.0,6099797866
2023-09-12 10:01:00,1740.0,1,LONG,CLOSE,STOP_LOSS,6099798255-0,0.0,40.0,9.0,6099798271
2023-09-12 14:28:00,1752.0,1,LONG,CLOSE,STOP_LOSS,6099803740-0,0.0,-80.0,9.0,6099803756
2023-09-12 21:00:00,1770.0,1,LONG,CLOSE,STOP_LOSS,6099804210-0,0.0,340.0,9.0,6099804225
2023-09-12 21:00:00,1770.0,1,LONG,CLOSE,STOP_LOSS,6099802356-0,0.0,400.0,9.0,6099802373
2023-09-12 21:00:00,1770.0,1,LONG,CLOSE,STOP_LOSS,6099804073-0,0.0,440.0,9.0,6099804086
2023-09-12 21:25:00,1746.0,1,LONG,CLOSE,STOP_LOSS,6099807630-0,0.0,-80.0,9.0,6099807647
2023-09-12 22:01:00,1738.0,1,LONG,CLOSE,STOP_LOSS,6099809737-0,0.0,-40.0,9.0,6099809752
2023-09-12 22:01:00,1738.0,1,LONG,CLOSE,STOP_LOSS,6099809640-0,0.0,0.0,9.0,6099809656
2023-09-12 22:24:00,1726.0,1,LONG,CLOSE,STOP_LOSS,6099811558-0,0.0,-80.0,9.0,6099811574
2023-09-12 22:28:00,1725.0,1,LONG,CLOSE,STOP_LOSS,6099812214-0,0.0,-80.0,9.0,6099812230
2023-09-12 22:28:00,1725.0,1,LONG,CLOSE,STOP_LOSS,6099811651-0,0.0,-60.0,9.0,6099811668
2023-09-12 22:28:00,1725.0,1,LONG,CLOSE,STOP_LOSS,6099811809-0,0.0,-20.0,9.0,6099811824
2023-09-12 22:28:00,1725.0,1,LONG,CLOSE,STOP_LOSS,6099812036-0,0.0,-60.0,9.0,6099812050
2023-09-12 22:33:00,1723.0,1,LONG,CLOSE,STOP_LOSS,6099812961-0,0.0,-80.0,9.0,6099812975
2023-09-12 22:47:00,1730.0,1,LONG,CLOSE,TAKE_PROFIT,6099813530-0,0.0,160.0,9.0,6099813565

In [11]:
df_order = read_order_from_sql(backtest_id)
print(df_order.shape)
df_order[ORDER_COLUMNS].head(20)

(8, 28)

,price,volume,direction,offset,order_type,order_source,order_status,update_time,order_id,order_policy
ts,,,,,,,,,,
2023-08-25 11:10:00,1613.000,1,LONG,OPEN,NORMAL,SIGBUY,T,11:10:00,18AC81B3D92#0,"{'price_type': 'limit_price', 'take_profit_ind..."
2023-08-25 11:10:00,1621.000,1,LONG,CLOSE,TAKE_PROFIT,18AC81B3D92#0,T,13:55:00,18AC81B3D99#0,{}
2023-08-25 11:10:00,3237.746,1,LONG,CLOSE,TAKE_PROFIT,18AC81B3D99#0,A,None,18AC81B3DA9#0,{}
2023-08-25 11:10:00,1609.000,1,LONG,CLOSE,STOP_LOSS,18AC81B3D92#0,C,13:55:00,18AC81B3DB5#0,{}
2023-08-25 11:20:00,1612.000,1,LONG,OPEN,NORMAL,SIGBUY,T,11:20:00,18AC81B3E60#0,"{'price_type': 'limit_price', 'take_profit_ind..."
2023-08-25 11:20:00,1620.000,1,LONG,CLOSE,TAKE_PROFIT,18AC81B3E60#0,T,13:55:00,18AC81B3E6B#0,{}
2023-08-25 11:20:00,3231.989,1,LONG,CLOSE,TAKE_PROFIT,18AC81B3E6B#0,A,None,18AC81B3E76#0,{}
2023-08-25 11:20:00,1608.000,1,LONG,CLOSE,STOP_LOSS,18AC81B3E60#0,C,13:55:00,18AC81B3E82#0,{}

In [36]:
df_trade['trade_group'].max()

1

In [58]:
print(type(df_trade.iloc[0]))
df_trade.iloc[0].id
print(type(df_trade.loc['2023-08-25 10:30:00']))
df_trade.loc['2023-08-25 10:30:00', 'price'] = 1600.0
df_trade.shape

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

(18, 19)

In [49]:
for row in df_trade.itertuples(name='trade'):
    print(type(row))
    print(row.Index)
    break

<class 'pandas.core.frame.trade'>
2023-08-25 09:37:00

In [37]:
df_group = df_trade.groupby('trade_group')
print(type(df_group))
for group in df_group:
    print(type(group[1]))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

In [23]:
df_order = read_order_from_sql(3)
df_order.shape

(18, 26)

In [24]:
df_order[ORDER_COLUMNS]

,price,volume,direction,offset,order_type,order_source,order_status,order_group
ts,,,,,,,,
2023-08-25 09:37:00,1625.0,1,SHORT,OPEN,NORMAL,SIGSELL,T,1
2023-08-25 09:42:00,1626.0,1,SHORT,OPEN,NORMAL,SIGSELL,T,1
2023-08-25 09:53:00,1627.0,1,SHORT,OPEN,NORMAL,SIGSELL,T,1
2023-08-25 10:30:00,1628.0,1,SHORT,OPEN,NORMAL,SIGSELL,T,1
2023-08-25 10:53:00,1619.0,1,LONG,OPEN,NORMAL,SIGBUY,T,1
2023-08-25 11:08:00,1614.0,1,SHORT,CLOSE,NORMAL,SIGBUY,T,1
2023-08-25 11:09:00,1612.0,1,LONG,OPEN,NORMAL,SIGBUY,T,1
2023-08-25 11:10:00,1609.0,1,SHORT,CLOSE,NORMAL,SIGBUY,T,1
2023-08-25 11:11:00,1611.0,1,LONG,OPEN,NORMAL,SIGBUY,T,1
2023-08-25 14:31:00,1622.0,1,LONG,CLOSE,NORMAL,SIGSELL,T,1
2023-08-25 20:59:00,1626.0,1,SHORT,OPEN,NORMAL,SIGSELL,T,1
2023-08-25 21:00:00,1628.0,1,LONG,CLOSE,NORMAL,SIGSELL,T,1
2023-08-25 21:01:00,1631.0,1,SHORT,OPEN,NORMAL,SIGSELL,T,1
2023-08-25 21:02:00,1635.0,1,LONG,CLOSE,NORMAL,SIGSELL,T,1
2023-08-25 21:38:00,1625.0,1,SHORT,OPEN,NORMAL,SIGSELL,T,1
2023-08-25 21:56:00,1614.0,1,SHORT,CLOSE,NORMAL,SIGBUY,T,1
2023-08-25 21:58:00,1614.0,1,LONG,OPEN,NORMAL,SIGBUY,T,1
2023-08-25 21:59:00,1609.0,1,SHORT,CLOSE,NORMAL,SIGBUY,T,1

In [19]:
dd = df_order[ORDER_COLUMNS].add_suffix('_o').join(bar_df[BAR_COLUMNS])
dd[['open', 'close', 'price_o', 'direction_o', 'offset_o', 'order_source_o']]

,open,close,price_o,direction_o,offset_o,order_source_o
ts,,,,,,
2023-08-25 09:37:00,1626.0,1626.0,1625.0,SHORT,OPEN,SIGSELL
2023-08-25 09:42:00,1627.0,1627.0,1626.0,SHORT,OPEN,SIGSELL
2023-08-25 09:53:00,1627.0,1628.0,1627.0,SHORT,OPEN,SIGSELL
2023-08-25 10:30:00,1627.0,1629.0,1628.0,SHORT,OPEN,SIGSELL
2023-08-25 10:53:00,1620.0,1618.0,1619.0,LONG,OPEN,SIGBUY
2023-08-25 11:08:00,1617.0,1613.0,1614.0,SHORT,CLOSE,SIGBUY
2023-08-25 11:09:00,1612.0,1611.0,1612.0,LONG,OPEN,SIGBUY
2023-08-25 11:10:00,1611.0,1608.0,1609.0,SHORT,CLOSE,SIGBUY
2023-08-25 11:11:00,1607.0,1610.0,1611.0,LONG,OPEN,SIGBUY
2023-08-25 14:31:00,1620.0,1623.0,1622.0,LONG,CLOSE,SIGSELL
2023-08-25 20:59:00,1627.0,1627.0,1626.0,SHORT,OPEN,SIGSELL
2023-08-25 21:00:00,1628.0,1629.0,1628.0,LONG,CLOSE,SIGSELL
2023-08-25 21:01:00,1629.0,1632.0,1631.0,SHORT,OPEN,SIGSELL
2023-08-25 21:02:00,1632.0,1636.0,1635.0,LONG,CLOSE,SIGSELL
2023-08-25 21:38:00,1624.0,1626.0,1625.0,SHORT,OPEN,SIGSELL
2023-08-25 21:56:00,1618.0,1613.0,1614.0,SHORT,CLOSE,SIGBUY
2023-08-25 21:58:00,1614.0,1613.0,1614.0,LONG,OPEN,SIGBUY
2023-08-25 21:59:00,1613.0,1608.0,1609.0,SHORT,CLOSE,SIGBUY

In [20]:
dd2 = df_trade[TRADE_COLUMNS].add_suffix('_t').join(bar_df[BAR_COLUMNS])
dd2[['close', 'price_t', 'direction_t', 'offset_t', 'trade_source_t']]

,close,price_t,direction_t,offset_t,trade_source_t
ts,,,,,
2023-08-25 09:37:00,1626.0,1625.0,SHORT,OPEN,20230825#09:37:00#1679.452230
2023-08-25 09:42:00,1627.0,1626.0,SHORT,OPEN,20230825#09:42:00#1680.577350
2023-08-25 09:53:00,1628.0,1627.0,SHORT,OPEN,20230825#09:53:00#1682.673239
2023-08-25 10:30:00,1629.0,1628.0,SHORT,OPEN,20230825#10:30:00#1684.756572
2023-08-25 10:53:00,1618.0,1619.0,LONG,OPEN,20230825#10:53:00#1707.115032
2023-08-25 11:08:00,1613.0,1614.0,SHORT,CLOSE,20230825#11:08:00#1722.351407
2023-08-25 11:09:00,1611.0,1612.0,LONG,OPEN,20230825#11:09:00#1723.417649
2023-08-25 11:10:00,1608.0,1609.0,SHORT,CLOSE,20230825#11:10:00#1724.479913
2023-08-25 11:11:00,1610.0,1611.0,LONG,OPEN,20230825#11:11:00#1725.543652
2023-08-25 14:31:00,1623.0,1622.0,LONG,CLOSE,20230825#14:31:00#1805.871037
2023-08-25 20:59:00,1627.0,1626.0,SHORT,OPEN,20230825#20:59:00#1807.955366
2023-08-25 21:00:00,1629.0,1628.0,LONG,CLOSE,20230825#21:00:00#1808.022805
2023-08-25 21:01:00,1632.0,1631.0,SHORT,OPEN,20230825#21:01:00#1809.089801
2023-08-25 21:02:00,1636.0,1635.0,LONG,CLOSE,20230825#21:02:00#1810.156429
2023-08-25 21:38:00,1626.0,1625.0,SHORT,OPEN,20230825#21:38:00#1846.854398
2023-08-25 21:56:00,1613.0,1614.0,SHORT,CLOSE,20230825#21:56:00#1864.265132
2023-08-25 21:58:00,1613.0,1614.0,LONG,OPEN,20230825#21:58:00#1866.346044
2023-08-25 21:59:00,1608.0,1609.0,SHORT,CLOSE,20230825#21:59:00#1867.410349

In [7]:
df.query('direction == "SHORT" & offset == "OPEN"').shape

(4, 18)

In [8]:
df.query('direction == "SHORT" & offset == "CLOSE"').shape

(4, 18)

In [10]:
df.query('direction == "SHORT"')[TRADE_COLUMNS]

,price,volume,direction,offset,trade_type,trade_source
ts,,,,,,
2023-08-25 09:37:00,1626.0,1,SHORT,OPEN,NORMAL,20230825#09:37:00#1679.068730
2023-08-25 09:42:00,1627.0,1,SHORT,OPEN,NORMAL,20230825#09:42:00#1680.688015
2023-08-25 10:53:00,1618.0,1,SHORT,CLOSE,NORMAL,20230825#10:53:00#1707.296465
2023-08-25 11:09:00,1611.0,1,SHORT,CLOSE,NORMAL,20230825#11:09:00#1723.078186
2023-08-25 20:59:00,1627.0,1,SHORT,OPEN,NORMAL,20230825#20:59:00#1807.443458
2023-08-25 21:01:00,1632.0,1,SHORT,OPEN,NORMAL,20230825#21:01:00#1809.081264
2023-08-25 21:56:00,1613.0,1,SHORT,CLOSE,NORMAL,20230825#21:56:00#1864.343769
2023-08-25 21:59:00,1608.0,1,SHORT,CLOSE,NORMAL,20230825#21:59:00#1867.049928