In [1]:
import os
import sys
import json
import time
import requests
import talib

import numpy as np
import pandas as pd
import pandas_ta as ta

import matplotlib 
import matplotlib.pyplot as plt

from scipy.signal import find_peaks

for m in [np, pd, ta, matplotlib]:
    print(m.__name__, m.__version__)

numpy 1.26.4
pandas 2.2.3
pandas_ta 0.3.14b0
matplotlib 3.10.1

In [2]:
from funcs.factor_utils import FactorUtil

In [3]:
df = FactorUtil.get_bar_df('FG2409_MIN_1', '20240801', '00:00:00', 500)
print(df.shape)

(500, 9)

In [4]:
df.head()

,O,H,L,C,V,AP,AV,BP,BV
ts,,,,,,,,,
2024-08-01 09:00:00,1384.0,1384.0,1383.0,1383.0,1380,1383.994,165,1382.000,112
2024-08-01 09:01:00,1383.0,1384.0,1380.0,1381.0,5492,1381.725,22069,1380.437,31489
2024-08-01 09:02:00,1381.0,1383.0,1380.0,1383.0,3584,1382.111,51358,1380.873,49594
2024-08-01 09:03:00,1384.0,1385.0,1382.0,1383.0,2770,1383.415,53411,1382.259,49463
2024-08-01 09:04:00,1383.0,1383.0,1381.0,1382.0,1779,1382.253,32249,1381.110,57441