In [1]:
import numpy as np
import pandas as pd
import sqlalchemy
import matplotlib as plt
import matplotlib.pyplot as plt

from comm.factor_util import FactorUtil

In [2]:
tick_df = FactorUtil.read_tick_from_sql('FG2409', '20240101', '00:00:00', 100)
tick_df.head()

,id,symbol,date,time,open,high,low,close,volume,open_interest,...,last,average,settle,pre_close,pre_settle,pre_open_interest,ask1_price,ask1_volume,bid1_price,bid1_volume
ts,,,,,,,,,,,,,,,,,,,,,
2024-04-08 09:23:14,1,FG2409,20240408,09:23:14.000,1460.0,1473.0,1453.0,0.0,245548,728354.0,...,1467.0,1463.0,0.0,1431.0,1436.0,741509.0,1467.0,72,1466.0,286
2024-04-08 09:23:14,2,FG2409,20240408,09:23:14.000,1460.0,1473.0,1453.0,0.0,245623,728384.0,...,1467.0,1463.0,0.0,1431.0,1436.0,741509.0,1468.0,1090,1467.0,97
2024-04-08 09:23:15,3,FG2409,20240408,09:23:15.000,1460.0,1473.0,1453.0,0.0,245628,728387.0,...,1468.0,1463.0,0.0,1431.0,1436.0,741509.0,1468.0,1105,1467.0,151
2024-04-08 09:23:15,4,FG2409,20240408,09:23:15.000,1460.0,1473.0,1453.0,0.0,245644,728392.0,...,1467.0,1463.0,0.0,1431.0,1436.0,741509.0,1468.0,1132,1467.0,318
2024-04-08 09:23:16,5,FG2409,20240408,09:23:16.000,1460.0,1473.0,1453.0,0.0,245696,728399.0,...,1467.0,1463.0,0.0,1431.0,1436.0,741509.0,1468.0,1092,1467.0,325

In [5]:
bar_df = FactorUtil.read_bar_from_sql('FG2405_MIN_1', '20240101', '00:00:00', 100)
bar_df.head()

,id,symbol,date,time,open,high,low,close,volume,ask_price,ask_volume,bid_price,bid_volume
ts,,,,,,,,,,,,,
2024-01-08 21:00:00,1,FG2405,20240108,21:00:00,1865.0,1867.0,1858.0,1862.0,27024,1861.888,26291,1860.953,36648
2024-01-08 21:01:00,2,FG2405,20240108,21:01:00,1863.0,1864.0,1858.0,1860.0,10712,1862.637,21237,1861.125,36665
2024-01-08 21:02:00,3,FG2405,20240108,21:02:00,1861.0,1863.0,1860.0,1862.0,5985,1863.156,29172,1861.498,31000
2024-01-08 21:03:00,4,FG2405,20240108,21:03:00,1863.0,1866.0,1862.0,1864.0,7061,1864.732,75254,1863.610,31469
2024-01-08 21:04:00,5,FG2405,20240108,21:04:00,1864.0,1864.0,1861.0,1861.0,3721,1863.179,20775,1861.995,45466